$red-background: rgb(108, 5, 5);
$brown: rgb(50, 27, 28);
$dark-grey:rgb(96, 83, 89);
$light-green:rgb(87, 221, 84);

@mixin flex-display(){
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body{
  background-color: $red-background;
  box-sizing: border-box;
}

//main app
.drum-machine{
  margin: 30px auto;
  width: 60%;
  height: 200px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 3px;
  background-color: $brown;
  @include flex-display();
}

//container for drum pads
.button-group{
  width: 45%;
  height: 160px;
  @include flex-display();
}

.drum-pad{
  width: 30px;
  height: 30px;
  color: $light-green;
  background-color:darken($red-background, 10%);
  border: 2px solid black;
  margin: 5px;
  box-shadow: 5px 7px 5px $dark-grey;
  text-align: center;
  line-height: 30px;
  &:hover{
    color: darken($light-green, 30%);
    background-color: lighten($red-background, 20%);
  }
  &:active{
    box-shadow: 3px 5px 5px $dark-grey;
  }
}

//StartSlider component
.start-container{
  box-sizing: border-box;
  width: 50px;
  height:25px;
  border:2px solid red;
  background-color: blue;
  position: relative;
}

.start-button{
  width: 25px;
  height: 25px;
  left: 0;
  position: absolute;
  z-index: 5;
  -webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
  transition: left 0.5s;
  background-color: red;
  border: 1px solid black;
}

.animate-right-start-button{
  left:15px;
}

.animate-left-start-button{
  left:0;
}

//SliderButon component

.slider-container{
  box-sizing:border-box;
  height: 40px;
  width: 220px;
  position:relative;
  background-color: yellow;
  border-top: 15px solid white;
  border-bottom: 15px solid white;
}

.slider-button{
  top:-15px;
  height:40px;
  width: 20px;
  position: absolute;
  background-color:blue;
  z-index: 5;
}

// Display component
.Display{
  height: 40px;
  width: 200px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: $dark-grey;
}
