$red-background: rgb(108, 5, 5);
$dark-red:darken($red-background, 10%);
$brown: rgb(50, 27, 28);
$dark-grey:rgb(96, 83, 89);
$light-green:rgb(87, 221, 84);

@mixin flex-display(){
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin label-style(){
  font-family: Arial, monospace;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-right: 10px;
}

body{
  background-color: $red-background;
  box-sizing: border-box;
}

//main app
.drum-machine{
  margin: 30px auto;
  width: 60%;
  height: 340px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 3px;
  background-color: $brown;
  @include flex-display();
}

//container for drum pads
.button-group{
  width: 300px;
  height: 300px;
  border: 1px solid white;
  border-radius: 3px;
  @include flex-display();
  flex-wrap: wrap;
}

//each drum pad
.drum-pad{
  width: 60px;
  height: 60px;
  color: white;
  background-color:$dark-red;
  border: 2px solid black;
  margin: 20px;
  box-shadow: 5px 7px 5px $dark-grey;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  &:hover{
    color: darken($light-green, 30%);
    background-color: lighten($red-background, 20%);
  }
  &:active{
    box-shadow: 3px 5px 5px $dark-grey;
  }
}

.display-container {
  height:300px;
  width: 300px;
  border:1px solid white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &>div{
    margin: 0px 20px;
  }
}

//ButtonSlider component
.ButtonSlider{
    display: flex;
    flex-direction: row;
    align-items: center;
    &>p{
      @include label-style();
    }
}

.slider-button-container{
  width: 50px;
  height:25px;
  border:2px solid red;
  background-color: $dark-red;
  position: relative;
}

//the button that slides in the SliderButton component
.slider-button{
  width: 25px;
  height: 25px;
  left: 0;
  position: absolute;
  z-index: 5;
  -webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
  transition: left 0.5s;
  background-color: red;
  border: 1px solid black;
  box-sizing:border-box;
}

//added to move slider button to the right in SliderButton
.animate-right-slider-button{
  left:25px;
}

//added to move slider button to the left in SliderButton
.animate-left-slider-button{
  left:0;
}

//Slider component
//container in the Slider component
.slider-container{
  box-sizing:border-box;
  height: 40px;
  width: 220px;
  position:relative;
  background-color: black;
  border-top: 15px solid $brown;
  border-bottom: 15px solid $brown;
}

//button moved int eh Slider component
.slider-btn{
  top:-15px;
  height:40px;
  width: 20px;
  position: absolute;
  background-color:$dark-red;
  z-index: 5;
  box-sizing:border-box;
}

.Slider>p{
  @include label-style();
}

// Display component
.Display{
  height: 35px;
  width: 200px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: $dark-grey;
}

@media screen and (max-width:1030px){
  .drum-machine{
    flex-direction: column;
    width: 100%;
    height:700px;
  }

}
